.root {
    margin-top: 40px;
    height: calc(100vh - 40px);
    display: grid;
    grid-template-rows: auto auto;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    box-shadow: 4px 6px 10px 0px rgba(168, 168, 168, 0.64);
}

.dataLoader {
    flex: 1;
}

.paginator {
    flex: 1;
}

.skipBlankTiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;

    margin: 0 4px;

    font-size: 0.85rem;
}

.spinner {
    margin-top: 100px;
    text-align: center;
}

.tilesContainer {
    grid-row: 1;
    overflow: auto;
}

.tileContainer {
    display: inline-block;
    position: relative;
}

.tile {
    image-rendering: pixelated;
    outline: 1px solid black;
    cursor: pointer;
}

.tileContainer.tileSelected .tile {
    outline: 2px solid #ff5733;
}

.tileIndex {
    text-align: right;
    font-size: 0.55rem;
    position: absolute;
    right: 0;
    bottom: -0.47rem;
    color: #aaa;
}

.cTile {
    margin: 16px 0 0 16px;
    width: 64px;
    height: 64px;
}

.sTile {
    margin: 8px 0 0 8px;
    width: 32px;
    height: 32px;
}

.fool {
    position: fixed;
    right: 40px;
    bottom: 0;
    width: 38px;
    height: 56px;
    background-image: url(/neospriteviewer/fool.png);
    background-size: cover;
}

.detailedTile {
    grid-row: 2;
}
