.root {
    margin-top: 40px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.tile {
    margin: 2px;
    display: inline-block;

    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}
