.detailedTile {
}

.cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 9px;
    vertical-align: middle;
    outline: 1px solid rgba(255, 255, 255, 0.1);
}

.column {
}
