.nullState {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #658291;
}

.callout {
    padding: 20px 40px;
    border: 6px dashed white;
    border-radius: 24px;
    text-align: center;
    position: relative;
}

.showHelpButton {
    position: absolute;
    right: 20px;
    bottom: -16px;
    font-size: 18px;

    padding: 4px 20px;
    background-color: #658291;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 6px 10px 0px rgba(168, 168, 168, 0.64);
}

.dragSection h1 {
    font-size: 20px;
}

.howToGetAPair {
    margin-top: 40px;
    max-width: 500px;
    padding: 20px;
    border: 1px dotted #658291;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 0.95em;
}

.howToGetAPair.shown {
    opacity: 1;
}

.howToGetAPair ul {
    list-style-type: circle;
}

.howToGetAPair li {
    margin-top: 16px;
}
